* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif
  }

  
  body{
    background-color: #0d1117;
    color: #a7b5c4;
  }  

  .container{
    display: flex;
    justify-content: center;
   }


  .shape-divider {
    max-width: 1127px;
    position: absolute;
    display: grid;
    justify-items:center;
    height:100vh;
    width: 100vw;
    padding: 1% 1% 0 1%;
  }
  

  .text-inicio{    
    max-width: 400px;
    text-align: center;
    position: relative;
    bottom: 150px; 
    left: 140px;
    
}


h1{
    text-align: center;
    padding: 3%;
}


/* btn informe */
.pulse{
  -webkit-animation: pulse 1.3s;
          animation: pulse 1.3S;
          animation-iteration-count:infinite;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.pulse {  
  border-radius: 10px;
    border: none;
    padding: 12px;
  --hover: #ef8f6e;
}

.pulse {
  background-color: #F9A826;  
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.pulse:hover{
  animation-iteration-count:unset;
}

.pulse:active{
  animation-iteration-count:unset;
}

.pulse a{
  cursor: pointer;
  text-decoration: none;
  color: #fff;

}


@media screen and (max-width: 600px) {
    h1{
        font-size: 1.5rem;
    }

    .shape-divider{
      padding-top: 20%;
    }
    .shape-divider img{
      width: 100%;
      padding:0 1%
    }

    .text-inicio{
      width:70%;
      position: static;
      
    }
  }

